@import url('https://fonts.googleapis.com/css2?family=Amiri&family=El+Messiri:wght@700&family=Signika+Negative:wght@500&display=swap');

body {
  margin: 0px;
  padding: 0px;
  background-color: #1a1a1d;
  font-family: 'Amiri', serif;
  font-family: 'El Messiri', sans-serif;
  font-family: 'Signika Negative', sans-serif;
}
.container {
  padding: 40px;
}

h2 {
  color: #950740;
  font-size: 50px;
}
.inputs {
  padding: 6rem 0 2rem 0;
  text-align: center;
  display: flex;
  justify-content: center;
}

.inputs input[type='text'] {
  height: 3.5rem;
  width: 30rem;
  background: #212121;

  font-size: 1.5rem;
  border: none;
  background-color: transparent;
  border-bottom: solid 1px #c3073f;
  color: #c3073f;
  border-radius: 2px;
  margin-left: 27px;
}
.inputs input[type='submit'] {
  height: 3.5rem;
  width: 6.5rem;
  background: #c3073f;
  font-weight: bold;
  color: #ffd7e3;
  font-size: 1.5rem;
  border: none;
  border-radius: 4px;
}
section .display {
  color: #c3073f;
  font-size: 25px;
}
